#conda create -n Env_Name
#conda activate Env_Name
#conda install --file Requirements.txt

tensorflow-gpu==1.14

pandas
pillow
cython
matplotlib
scikit-image
keras>=2.0.8
py-opencv
h5py
imgaug
IPython[all]
pytables



